---
import SetAlert from "../components/SetAlert";

const title = "Hacker News alerts for comments and replies";
const description =
  "Get email alerts when someone replies to your comments or posts on Hacker News.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = "/favicon.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Hacker News Alerts" />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Analytics -->
    {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src="https://um.app.taralys.com/hi"
          data-website-id="c607fc96-0115-43e9-b764-ab9f5d73911c"
        />
      )
    }
  </head>
  <body>
    <body class="bg-neutral-100">
      <main class="mx-auto max-w-prose px-5 md:px-0 md:py-3 mt-3 mb-12">
        <section class="mb-3 md:mb-6 space-y-3">
          <h1 class="text-[1.4rem] md:text-3xl font-bold leading-tight">
            Email alerts for <span class="inline-block">Hacker News</span>
            comments and replies
          </h1>
          <h2>
            Get email notifications when someone replies to one of your comments
            or posts on <span class="inline-block">Hacker News</span>.
          </h2>
        </section>
        <section class="mb-6">
          <SetAlert client:load />
        </section>
        <section class="mb-6">
          <p class="mb-4">
            Don't want to provide your email? <a
              class="underline"
              href="/view-comments-replies">I made an online tool</a
            > that lets you view all the comments and replies you've received over
            the past 24 hours.
          </p>
        </section>
        <section>
          <h2 class="text-2xl font-bold mb-3">Contact</h2>
          <p>
            Have questions/feedback? I'm <a
              href="https://www.linkedin.com/in/mihailmarian/"
              class="underline"
              target="_blank">on LinkedIn</a
            >; make sure you add a message to your connection request. Or use <a
              href="https://forms.gle/z5ysJvd8ZjoG7V668"
              class="underline"
              target="_blank">this hideous contact form</a
            >.
          </p>
        </section>
      </main>
    </body>
  </body>
</html>
