---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
import { SITE_TITLE } from "../consts";

const favicon = "/favicon.svg";
const metaImage = "/meta.png";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:site_name" content={SITE_TITLE} />
  <meta property="og:image" content={new URL(metaImage, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(metaImage, Astro.url)} />

  <!-- Analytics -->
  {
    import.meta.env.PROD && (
      <script
        is:inline
        defer
        src="https://um.app.taralys.com/hi"
        data-website-id="c607fc96-0115-43e9-b764-ab9f5d73911c"
      />
    )
  }
</head>
